.button-row {
    margin-top: 1rem;
}

.button-row .top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.button-row .top-row .btn {
    margin-right: 1rem;
}