.frame {
    width: 5rem;
    height: 3rem;
    border: solid 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.frame .frame-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.4rem;
}

.frame .ball1-score {
    position: absolute;
    top: -2px;
    right: 26px;
    width: 30px;
    height: 25px;
    border: solid 2px #000;
}

.frame .ball2-score {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 25px;
    border: solid 2px #000;
}

.frame .frame-score {
    position: absolute;
    bottom: -5px;
    right: 5px;
    font-weight: bold;
    font-size: 125%;
}
