.App-logo {
  max-height: 80px;
  flex: none;
  order: 1;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-title {
  font-size: 1.5em;
  flex: 2;
  order: 2;
  padding: 25px 0;
}
