.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.App-intro {
    font-size: large;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
